body
{
	margin : auto;	
	background-image : url("./image/stripe.png");
}

table
{
	margin-left : 250px;
	border-collapse: collapse;
	background : white;
}
table td
{
	border : 1px solid black;
	width : 120px;
}	

table td:hover
{
	background-color: #FFCCCC;
}

ul
{
        padding: 0px;
        margin: 0px;
}
ul li
{
        display: table-cell;
        width: 100px;

}


#banniere 
{
	width : 600px;
	height: 200px;
	margin:auto;
	margin-top:5px;
	margin-bottom:20px;
}

			#banniere img
			{
				border-style:none;
			}


#rdv1
{
	background-color : blue;
	position: absolute;
	bottom: 50px;
	width: 120px;
}

#rdv2
{
	background-color : green;
	position: absolute;
	bottom: 50px;
	width: 120px;
	left: 60px;
}

#barreup
{
	background-color : white;
	margin : auto;
	width : 100%;
	margin-left : 250px;
	border : 2px solid black;
	border-bottom : none;
	margin-bottom : 10px;
}

#cadreconnexion
{
	position : absolute;
	width : 200px;
	padding : 5px;
	border : 2px solid black;
	background : white;
}

#presentationagenda
{
	position : absolute;
	min-height:500px;
	min-width :700px;
	left : 250px;
	
	padding : 10px;
	border : 2px solid black;
	background : white;
}

#footer
{
	position : absolute;
    top:1000px;
    width:700px;
    left : 250px;
    margin-top:20px;
    border:2px solid black;
    background:white;
}
