body
{
	margin : auto;	
	background-color : #EFEFDF;
	font-family: Arial, Verdana, serif;
}

table
{
	margin-left : 250px;
	border-collapse: collapse;
	background : white;
}
table td
{
	border : 1px solid black;
	width : 150px;
}	

table td:hover
{
	background-color: #FFCCCC;
}

.cliquable
{
	cursor: pointer;
}

ul
{
        padding: 0px;
        margin: 0px;
}
ul li
{
        display: table-cell;
        width: 100px;

}

h1
{
	color:#62625C;
}


#banniere 
{
	width : 600px;
	height: 200px;
	margin:auto;
	margin-top:5px;
	margin-bottom:20px;
}

			#banniere img
			{
				border-style:none;
			}


#rdv1
{
	background-color : blue;
	position: absolute;
	bottom: 50px;
	width: 120px;
}

#rdv2
{
	background-color : green;
	position: absolute;
	bottom: 50px;
	width: 120px;
	left: 60px;
}

#barreup
{
	min-width : 600px;
	background-color : #FDFDF7;
	left : 250px;
	right : 250px;
	border:1px #DEDECF solid;
	border-bottom : none;
	margin-bottom : 10px;
}

#cadreconnexion
{
	background-color : #FDFDF7;
	position : absolute;
	width : 200px;
	padding : 5px;
	margin-left:20px;
	border:1px #DEDECF solid;
}

#gestion_projets
{
	background-color : #FDFDF7;
	position : absolute;
	top : 370px;
	width : 200px;
	padding : 5px;
	margin-left:20px;
	border:1px #DEDECF solid;

}

#presentationagenda
{
	position : absolute;
	min-height:500px;
	min-width :600px;
	left : 275px;
	right : 250px;
	padding : 10px;
	border:1px #DEDECF solid;
	background-color : #FDFDF7;
}

#footer
{
	position : absolute;
    top:1050px;
    width:700px;
    left : 275px;
    margin-top:20px;
    border:1px #DEDECF solid;
    background-color : #FDFDF7;
}
